<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Cocktails</title>
</head>
<body>
    <h1>Cocktails</h1>
    <div class="container">
        <div class="alcohol">
            <a href="http://localhost:3000/">all </a>
            <% for(let i = 0; i < alcohols.length; i++){  %>
            <a href="http://localhost:3000/?alcohol=<%=alcohols[i]%>"><%=alcohols[i]%> </a>
            <%}%>
        </div>
        <div class="head">
            <div class="namelogo">Name</div>
            <div class="pricelogo">Price</div>
        </div>
        <div class="cocktails">
            <% for(let i = 0; i < cocktails.length; i++){  %>
            <div class="drink"><%=cocktails[i].name%> <%=cocktails[i].price%> 
            </div>
            <div><% cocktails[i].contains.forEach((value)=>{%>
                <%=value%>
            <%})%>
            </div>
            <%}%>

        </div>
</div>
</body>
</html>